* {
    box-sizing: border-box;
    margin-inline: 15px;
}

html {
    /* tutor* to fill page background*/
    height: 100%;
}

body {
    background-image: url("background.jpg");
    background-position: center;
    /* tutor* attempt center bg pic with border top&bottom*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 35px;
    margin-right: 35px;
}

h1 {
    padding: 20px, 0px, 35px, 0px;
}

label {
    background-color: rgba(248, 192, 7, 0.3);
}

.flex-container {
    align-items: baseline;
}

.space {
    height: 200px;
}

.contact {
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    bottom: 100px;
    right: 35px;
    text-align: right;
}

p {
    margin-bottom: 10px;
}


/*w3schools example tweaked*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*used for navbar spacing*/
    justify-content: space-between;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#live {
    color: greenyellow;
}

#live:hover {
    color: rgb(219, 49, 143);
}

.nav-link:hover {
    color: rgb(235, 143, 38);
}

.active {
    background-color: rgb(235, 143, 38);
}

@media screen and (max-width: 415px) {
    body {
        background-image: url("slidesShow/10.jpg");
        background-position: center;
        /* tutor* attempt center bg pic with border top&bottom*/
        background-size: inherit;
        background-repeat: no-repeat;
    }
    label {
        background-color: rgba(248, 192, 7);
        color: rgb(41, 38, 199);
    }
}